<div class="wrapper {% if page.title == "Contact" %} flex {% endif %}">
    {% if page.title == "Contact" %}
    <div class="contact-form">
        <h2>Let's talk</h2>
        <form action="https://getform.io/f/ebe28e33-81f6-4ba8-8dd2-789e88f59ea5" method="POST">
            <label>Name
                <input type="text" name="name">
            </label>
            <label>Email address
                <input type="email" name="email">
            </label>
            <label>Message
                <textarea type="text" name="message"></textarea>
            </label>
            <button type="submit">Send</button>
        </form>
        {% if page.TitleContent %}
        <div class="mt-5 text-colour-{{page.textColor}}">
            {{page.TitleContent | markdownify}}
        </div>
        {% endif %}
        </div>
        <div class="addresses">
        <h2 class="addresses-header">Our locations</h2>

        <div class="address-wrapper addresses-section-container">
        {% for Address in page.AddressesRow1 %}
            <div class="">
                {{Address.Address | markdownify }}
            </div>
        {% endfor %}
        </div>

        <div class="address-wrapper addresses-section-container">
        {% for Address in page.AddressesRow2 %}
            <div class="">
                {{Address.Address | markdownify }}
            </div>
        {% endfor %}
        </div>

        <div class="address-wrapper addresses-section-container">
        {% for Address in page.AddressesRow3 %}
            <div class=""
                 {% if Address.EasterEgg %}
                 style="visibility: hidden;"
                 {% endif %}
                 >
                {{Address.Address | markdownify }}
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
