<footer class="site-footer">
    <div class="wrapper">
        <div class="flex">
            <div class="footer-left">
                <img loading="lazy" src="/assets/footer-logo.png" width="244" height="87" class="footer__logo" alt="Triggerise Logo"
                    title="Triggerise Logo">
                <div class="small">
                    <small>Triggerise is a registered Charity / CoC-number 61787248</small>
                </div>
            </div>
            <div class="footer-right">
                <div class="socials">
                    {% assign social = site.social-icons%}
                    {%for social in social%}
                    {{ social.content }}
                    {% endfor %}
                </div>
                <div class="small">
                    <ul>
                        {% for link in site.data.navigation.footer-links %}
                        <small>
                            {% if link.title == 'Privacy policy' %}
                            <li><a onclick="togglePrivacyPopup('general')" style="cursor: pointer">{{ link.title }}</a></li>
                            {% else %}
                            <li><a target="__blank" href="{{ link.url | relative_url }}">{{ link.title }}</a></li>
                            {% endif %}
                        </small>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<div class="cookies-banner">
    <div class="wrapper">
        <p>We use cookies to understand how you use our website and improve your experience.
            <a href="https://triggerise.org/cookies/">Read more about this.</a>
        </p>
        <div>
            <span class="cookies-button-accept">Okay, I accept</span>
            &nbsp;&nbsp;
            <span class="cookies-button-deny">No, I deny</span>
        </div>
    </div>
</div>
{% include privacy-card.html %}
<script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js" type="text/javascript"></script>
<script src="/assets/fullpage.fadingEffect.min.js"></script>
<script src="/assets/fullpage.extensions.min.js"></script>
<script src="/assets/fullpage.min.js"></script>
<script src="/assets/svgMap.min.js"></script>
<script src="/assets/main.js"></script>
<script src="/assets/privacy.js"></script>
<script src="/assets/uikit.min.js"></script>
<script src="/assets/uikit-icons.min.js"></script>