<div id="impact-bond-page">
  {% if heroSectionOne %}
  <div class="impact_bond__section_container section-container" id="hero-one-pin">
    <div class="overlay" style="background-image: url('{{ heroSectionOne.heroOverlay }}')"></div>
    <div class="hero-image-container">
      <img src="{{ heroSectionOne.heroImage }}" alt="hero section one image" />
    </div>
    <div id="heroSectionOne" class="section__one_container">
      <div class="header wrapper">
        <img class="tiko-logo" loading="lazy" src="{{ heroSectionOne.heroIcon }}" alt="tiko logo" />
        <h1>{{ heroSectionOne.heroContent }}</h1>
        <div class="bounce">
          <span class="arrow-down">&#8595;</span>
        </div>
        {% if heroSectionOne.heroSVG %}
        <div class="hero_section_one_svg_container">
          {% include heroOneSVG.html %}
          {% include heroTwoSVG.html %}
          {% include heroThreeSVG.html %}
          {% include heroFourSVG.html %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if firstHeadline %}
  <div id="first-headline-pin" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div class="wrapper">
        <div class="two_row">
          <div class="two_column first_headline_container first_column_one">
            <h3>{{ firstHeadline.headline }}</h3>
          </div>
          <div class="two_column justify-center first_headline_container first_column_two"
            id="first_headline_image_container">

          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if mapContent %}
  {% if mapContent.contentOne %}
  <div id="map-pin" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div class="wrapper">
        <div id="map-section-one" class="two_row">
          <div class="two_column">
            {% if mapContent.mapSVG %}
            <div class="map__svg_container map_container" id="map__container_one">
              {% include mapSVG.html %}
            </div>
            {% endif %}
          </div>
          <div class="two_column">
            <div class="map-content-box map_box">
              <div class="map-content">
                {% if mapContent.contentOne %}
                {% for content in mapContent.contentOne %}
                <div class="map_step map-content-step">
                  <h3 class="map-content-step__inner">
                    {{content.content}}
                  </h3>
                  {% if content.icon %}
                  <div class="bounce auto_margin">
                    <span class="arrow-down">↓</span>
                  </div>
                  {% endif %}
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if mapContent.contentTwo %}
  <div id="map-pin-two" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div class="wrapper">
        <div id="map-section-two" class="two_row">
          <div class="two_column">
            {% if mapContent.mapSVG %}
            <div class="map__svg_container map_container">
              {% include mapSVG.html %}
            </div>
            {% endif %}
          </div>
          <div class="two_column">
            <div class="map-content-box map_box">
              <div class="map-content">
                {% for content in mapContent.contentTwo %}
                <div class="map_step map-content-step-two">
                  <h3 class="map-content-step__inner">
                    {{content.content}}
                  </h3>
                  {% if content.icon %}
                  <div class="bounce auto_margin">
                    <span class="arrow-down">↓</span>
                  </div>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if mapContent.contentThree %}
  <div id="map-pin-three" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div class="wrapper">
        <div id="map-section-three" class="two_row">
          <div class="two_column">
            {% if mapContent.mapSVG %}
            <div class="map__svg_container map_container">
              {% include mapSVG.html %}
            </div>
            {% endif %}
          </div>
          <div class="two_column">
            <div class="map-content-box map_box">
              <div class="map-content">
                {% for content in mapContent.contentThree %}
                <div class="map_step map-content-step-three">
                  <h3 class="map-content-step__inner">
                    {{content.content}}
                  </h3>
                  {% if content.icon %}
                  <div class="bounce auto_margin">
                    <span class="arrow-down">↓</span>
                  </div>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if mapContent.contentFour %}
  <div id="map-pin-four" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div class="wrapper">
        <div id="map-section-four" class="two_row">
          <div class="two_column">
            {% if mapContent.mentalHealthMobileImage %}
            <div class="map__mental_health_mobile_container">
              <img src="{{ mapContent.mentalHealthMobileImage }}" alt="mental health" />
            </div>
            {% endif %}
            {% if mapContent.thoughtLine %}
            <div class="map__thought_line_container thought_line_container">
              {% include thoughtLineSVG.html %}
            </div>
            {% endif %}
          </div>
          <div class="two_column">
            <div class="map-content-box map_box">
              <div class="map-content">
                {% for content in mapContent.contentFour %}
                <div class="map_step map-content-step-four">
                  <h3 class="map-content-step__inner">
                    {{content.content}}
                  </h3>
                  {% if content.icon %}
                  <div class="bounce auto_margin">
                    <span class="arrow-down">↓</span>
                  </div>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if mapContent.contentFive %}
  <div id="map-pin-five" class="impact_bond__section_container map_pin_three section-container">
    <div class="section__cream_container">
      <div class="wrapper">
        <div id="map-section-five">
          <div class="map__section_five_container">
            {% if mapContent.contentFive.imageOne %}
            <div class="map__content_three_container" id="image__container_1">
              <img class="slide-image slide__image" id="image__1" src="{{mapContent.contentFive.imageOne}}"
                alt="image of a person" />
            </div>
            {% endif %}
          </div>
          {% if mapContent.contentFive.imageMobile %}
          <div class="map__section_five_container" id="map__middle_mobile_container">
            <div class="map__content_three_container">
              <img class="slide-image slide__image slide__image_middle" src="{{mapContent.contentFive.imageMobile}}"
                alt="image of a thought" />
            </div>
          </div>
          {% endif %}
          <div class="map__section_five_container" id="map__middle_container">
            {% if mapContent.contentFive.imageMiddle %}
            <div class="map__content_three_container">
              <img class="slide-image slide__image slide__image_middle" src="{{mapContent.contentFive.imageMiddle}}"
                alt="image of a thought" />
            </div>
            {% endif %}
          </div>
          <div class="map__section_five_container">
            {% if mapContent.contentFive.imageTwo %}
            <div class="map__content_three_container" id="image__container_2">
              <div class="slide-image"></div>
              <img class="slide-image slide__image" id="image__2" src="{{mapContent.contentFive.imageTwo}}"
                alt="image of a person" />
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
  {% if heroSectionTwo %}
  <div class="impact_bond__section_container section-container" id="hero-two-pin">
    <div class="overlay" style="background-image: url('{{ heroSectionTwo.heroOverlay }}')"></div>
    <div class="hero-image-container">
      <img src="{{ heroSectionTwo.heroImage }}" alt="hero section two image" />
    </div>
    <div id="heroSectionTwo" class="section__one_container">
      <div class="header wrapper">
        <h1>{{ heroSectionTwo.heroContent }}</h1>
        <div class="bounce">
          <span class="arrow-down">&#8595;</span>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if whatWeOfferColumns %}
  <div id="why-tiko-pin" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div class="wrapper">
        <div class="three_row">
          {% for column in whatWeOfferColumns %}
          <div class="three_column why-tiko">
            <div class="icon-container">
              {% if column.icon %}
              <div class="icon">
                <img loading="lazy" src="{{ column.icon }}" alt="what we offer icon" />
              </div>
              {% endif %}
              {% if column.title %}
              <h3>{{ column.title }}</h3>
              {% endif %}
              {% if column.content %}
              {{ column.content }}
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if heroSectionThree %}
  <div class="impact_bond__section_container section-container" id="hero-three-pin">
    <div class="overlay" style="background-image: url('{{ heroSectionThree.heroOverlay }}')"></div>
    <div class="hero-image-container">
      <img src="{{ heroSectionThree.heroImage }}" alt="hero section three image" />
    </div>
    <div id="heroSectionThree" class="section__one_container">
      <div class="header wrapper">
        <h1>{{ heroSectionThree.heroContent }}</h1>
        <div class="bounce">
          <span class="arrow-down">&#8595;</span>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if dibContent %}
  <div id="dib-content-pin" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div class="wrapper dib-content">
        {% if dibContent.headline %}
        <h3>{{ dibContent.headline }}</h3>
        {% endif %}
        {% if dibContent.sectionOne %}
        <div class="three_row" id="dib-horizontal-animation">
          {% for content in dibContent.sectionOne %}
          <div class="three_column">
            {% if forloop.index == 2 %}
            <span class="arrow-down dib-arrow">&#8595;</span>
            {% endif %}
            <div class="dib_content_column_container dib_two_left_container">
              {% if content.middleTitle %}
              <div class="dib_content_middle_content_container dib-margin-bottom">
                {% if content.icon %}
                <img src="{{ content.icon }}" />
                {% endif %}
                <h3>{{ content.title }}</h3>
                <p>{{ content.content }}</p>
              </div>
              <div class="dib_content_middle_title_container">
                <h3>{{ content.middleTitle }}</h3>
              </div>
              {% else %}
              <div class="dib_content_middle_content_container dib-margin-top">
                {% if content.icon %}
                <img src="{{ content.icon }}" />
                {% endif %}
                <h3>{{ content.title }}</h3>
                <p>{{ content.content }}</p>
              </div>
              {% endif %}
            </div>
            {% if forloop.index == 2 %}
            <span class="arrow-down dib-arrow">&#8595;</span>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if dibContent.sectionTwo %}
        <div class="three_row" id="dib-vertical-animation">
          <div class="three_column dib_two_column"></div>
          <div class="three_column extended_three_column">
            {% for content in dibContent.sectionTwo.rightColumn %}
            <div class="dib_two_right_container">
              <h3>{{ content.content }}</h3>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if whyUsContent %}
  <div id="why-us-pin" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div class="wrapper">
        <div class="two_row">
          <div class="two_column"></div>
          <div class="two_column extended_column">
            {% if whyUsContent.title %}
            <h3>{{ whyUsContent.title }}</h3>
            {% endif %}
          </div>
        </div>
        <div class="why-us-row-container">
          {% for whyContent in whyUsContent %}
          <div class="two_row why-us">
            {% for content in whyContent %}
            {% if content.icon %}
            <div class="two_column">
              <div class="why-icon-container">
                <img class="why-icon" src="{{ content.icon }}" alt="why us icon" />
              </div>
            </div>
            {% endif %}
            {% if content.content %}
            <div class="two_column extended_column">
              {% for paragraph in content.content %}
              <p class="why-content" style="margin-top: 2rem">{{ paragraph }}</p>
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if goalList %}
  <div id="goal-pin" class="impact_bond__section_container section-container">
    <div class="section__blue_container">
      <div class="wrapper">
        <div class="goals__heading">
          <h2>OUR GOALS</h2>
        </div>
        <div class="four_row">
          {% for goal in goalList %}
          <div class="four_column goals">
            <div class="goals__container">
              <div class="goals__number_container">
                <h2>{{goal.callToAttention}}</h2>
              </div>
              <div class="goals__text_container">
                <p>{{goal.content}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if cta %}
  <div id="cta-pin" class="impact_bond__section_container section-container">
    <div class="section__cream_container">
      <div id="heroSectionFour" class="wrapper cta-container">
        {% if cta[0].title %}
        <h3>{{ cta[0].title }}</h3>
        {% endif %}
        {% for action in cta %}
        <div class="three_row cta">
          <div class="three_column extended_column">
            {% if action.content %}
            <p>{{ action.content }}</p>
            {% endif %}
            {% if action.socials %}
            {% assign social = site.social-icons%}
            {%for social in social%}
            {{ social.content }}
            {% endfor %}
            {% endif %}
          </div>
          <div class="three_column centered_column">
            {% if action.runningNumber %}
            <h3 id="sectionOneCounter">{{ action.runningNumber }}</h3>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="impact_bond__navigation_container">
    <div class="progress">
      <div class="circle done" onclick="navigateToElement(0)" id="circle_first">
        <div class="label_box">
          The challenge/reality in Kenya
        </div>

      </div> <span class="bar"></span>

      <div class="circle" onclick="navigateToElement(7)" id="circle_second">
        <div class="label_box">
          Why Tiko?
        </div>

      </div> <span class="bar"></span>

      <div class="circle" onclick="navigateToElement(9)" id="circle_third">
        <div class="label_box">
          What is a DIB?
        </div>

      </div> <span class="bar"></span>

      <div class="circle" onclick="navigateToElement(12)" id="circle_fourth">
        <div class="label_box">
          How to help
        </div>

      </div>

    </div>
  </div>
</div>
<script src="/assets/gsap.min.js"></script>
<script src="/assets/gsap.flip.min.js"></script>
<script src="/assets/scrollTrigger.min.js"></script>
<script src="/assets/ScrollTo.min.js"></script>
<script src="/assets/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/assets/impactBond.js"></script>