<div class="t-one {{include.colour}} {{include.classList}}" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
  <div class="wrapper">
    <h1 id="jobs">Open positions</h1>
    <div class="jobs-wrapper">
      <div class="grid">
        {% for job in page.Jobs %}
          <div class="job">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <p>
                    <h3>{{job.['Job Title']}}</h3>
                    {% assign location = job.Location%}
                      <h3 class="location">{{location | split: ", " | join:"<br />"}}</h3>
                  </p>
                </div>
                <div class="flip-card-back">
                  <p>{{job.['Job Description']}}</p>
                  <small><a href="{{job.Link}}">Read full description</a></small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>