<div class="wrapper uk-scrollspy-inview uk-animation-fade">
    <div class="salary-row">
        <div class="salary-col">
            {% if include.image %}
            <div class="salary-tracker-hero-img-container">
                <img src="{{include.image}}" class="salary-tracker-hero-img" alt="Salary Tracker" title="Triggerise Dots" title="Triggerise Dots">
            </div>
            {% endif %}
            {% if page.verbiage %}
            <p class="salary-tracker-verbiage">
                {{ page.verbiage }}
            </p>
            {% endif %}
            {% if page.leadBack %}
            <div class="salary-tracker-lead-back-container">
                <p class="salary-tracker-lead-back-text">
                    {{ page.leadBack }}
                    {% if page.leadBackBtnText %}
                    <a href="{{ page.leadBackLink }}" class="salary-tracker-lead-back-btn">{{ page.leadBackBtnText
                        }}</a>
                    {% else %}
                    <a href="{{ page.leadBackLink }}" class="salary-tracker-lead-back-btn">Click here</a>
                    {% endif %}
                </p>

            </div>
            {% endif %}
        </div>
        <div class="salary-col">
            <h5 class="salary-tracker-info-label">Select your country</h5>
            <div class="salary-tracker-country-list">
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn-active" onclick="updateCountry('ET')">Ethiopia</button>
                </div>
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn" onclick="updateCountry('KE')">Kenya</button>
                </div>
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn" onclick="updateCountry('NL')">Netherlands</button>
                </div>
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn" onclick="updateCountry('PT')">Portugal</button>
                </div>
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn" onclick="updateCountry('ZA')">South
                        Africa</button>
                </div>
            </div>
            <h5 class="mt-5 salary-tracker-info-label">Additional benefits</h5>
            <p id="salary-tracker-benefits" class="salary-tracker-country-benefit"></p>
            <h5 class="mt-5 salary-tracker-info-label">Filter by department</h5>
            <select onchange="updateDepartment(this.value)" id="salary-tracker-department-picker"
                class="salary-tracker-picker">
                <option id="salary-department-blank">Please wait while we load the positions.</option>
            </select>
            <h5 class="mt-5 salary-tracker-info-label">Select your role / position</h5>
            <select onchange="updatePosition(this.value)" id="salary-tracker-role-picker" class="salary-tracker-picker">
                <option id="salary-role-blank">Please wait while we load the positions.</option>
            </select>
            <h5 class="mt-5 salary-tracker-info-label">Salary brackets</h5>
            <div class="salary-tracker-bracket-container">
                <div class="salary-tracker-bracket-row">
                    <div class="salary-tracker-bracket-col">
                        <p class="salary-tracker-bracket-text">Annual salary</p>
                    </div>
                    <div class="salary-tracker-bracket-col">
                        <p class="salary-tracker-amount-text" id="salary-annual-currency">
                            <span class="salary-tracker-currency" id="salary-tracker-currency-annual">€</span>
                            <span class="salary-tracker-bracket-amount" id="salary-annual-amount-low"></span> -
                            <span class="salary-tracker-bracket-amount" id="salary-annual-amount-high"></span>
                        </p>
                    </div>
                </div>
                <div class="salary-tracker-bracket-row">
                    <div class="salary-tracker-bracket-col">
                        <p class="salary-tracker-bracket-text">Monthly salary</p>
                    </div>
                    <div class="salary-tracker-bracket-col">
                        <p class="salary-tracker-amount-text">
                            <span class="salary-tracker-currency" id="salary-tracker-currency-monthly">€</span>
                            <span class="salary-tracker-bracket-amount" id="salary-monthly-amount-low"></span> -
                            <span class="salary-tracker-bracket-amount" id="salary-monthly-amount-high"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    // Global vars
    var selectedCountry = "";
    var selectedPosition = null;
    var selectedDepartment = null;
    var dataArr = [];
    var selectRoleEle = document.getElementById('salary-tracker-role-picker');
    var selectDepartmentEle = document.getElementById('salary-tracker-department-picker');
    var departmentList = ['N/A'];

    // Update the country selection on click
    // Update the class for the active country button
    // Clear all previous selection options for position
    function updateCountry(country) {

        var allCountryBtns = document.querySelectorAll("button");
        var currencySymbolAnnual = document.getElementById('salary-tracker-currency-annual');
        var currencySymbolMonthly = document.getElementById('salary-tracker-currency-monthly');

        if (event.srcElement.classList !== undefined) {
            allCountryBtns.forEach(function (el) {
                el.classList.remove("salary-tracker-country-btn-active");
                el.classList.add("salary-tracker-country-btn");
            });
            event.srcElement.classList.remove("salary-tracker-country-btn");
            event.srcElement.classList.add("salary-tracker-country-btn-active");
        }

        removeSelectOptions(selectRoleEle);
        removeSelectOptions(selectDepartmentEle);

        selectedPosition = null;
        selectedDepartment = null;

        if (departmentList.length >= 1) {
            departmentList.forEach(department => {
                var departmentOpt = document.createElement('option');
                departmentOpt.value = department;
                departmentOpt.innerHTML = department;
                selectDepartmentEle.appendChild(departmentOpt);
            });
        }

        switch (country) {
            case 'ZA':
                currencySymbolAnnual.innerText = "R";
                currencySymbolMonthly.innerText = "R";
                updateData('South Africa', null, null, 2);
                break;
            case 'PT':
                currencySymbolAnnual.innerText = "€";
                currencySymbolMonthly.innerText = "€";
                updateData('Portugal', null, null, 2);
                break;
            case 'ET':
                currencySymbolAnnual.innerText = "€";
                currencySymbolMonthly.innerText = "€";
                updateData('Ethiopia', null, null, 2);
                break;
            case 'KE':
                currencySymbolAnnual.innerText = "KES";
                currencySymbolMonthly.innerText = "KES";
                updateData('Kenya', null, null, 2);
                break;
            case 'NL':
                currencySymbolAnnual.innerText = "€";
                currencySymbolMonthly.innerText = "€";
                updateData('Netherlands', null, null, 2);
                break;
            default:
                break;
        }

    }

    // Update the selected position
    function updatePosition(position) {

        selectedPosition = position;
        updateData(null, position, null, 1);

    }

    // Update the selected department
    function updateDepartment(department) {

        selectedDepartment = department;
        updateData(null, null, department, 0);

    }

    // Populate select options for Roles and Departments
    // This also acts as a filter for Roles based on selected department
    // Update option can have 4 values - 0: Department was updated; 1: Position was updated; 2: Reset positions; null: don't do anything 
    function updateSelectOptions(updateOption) {
        var countryArr = dataArr.filter(obj => {
            return obj.country === selectedCountry;
        });
        var setSelectedPosition = false;

        if (updateOption === 0) {
            removeSelectOptions(selectRoleEle);
            selectedPosition = null;
        } else if (updateOption === 1) {
            removeSelectOptions(selectRoleEle);
            setSelectedPosition = true;
        }

        if (countryArr[0].positions[0] !== undefined) {
            countryArr[0].positions.forEach(position => {
                var positionOpt = document.createElement('option');
                if (selectedDepartment !== null && selectedDepartment !== 'N/A' && (updateOption === 0 || updateOption === 1)) {
                    if (position.department === selectedDepartment) {
                        positionOpt.value = position.position;
                        positionOpt.innerHTML = position.position;
                        selectRoleEle.appendChild(positionOpt);
                    }
                } else if (updateOption === 2 || selectedDepartment === 'N/A' || selectedDepartment === null) {
                    positionOpt.value = position.position;
                    positionOpt.innerHTML = position.position;
                    selectRoleEle.appendChild(positionOpt);
                }
            });
            if (setSelectedPosition) {
                selectRoleEle.value = selectedPosition;
            }
        }
    }

    // Validate country / role selections
    // Filter by selected country
    // Update benefits and salary brackets where applicable
    // Update selected elements where applicable
    function updateData(country, position, department, updateOption) {

        // Fill filter global vars 
        if (country !== null) {
            selectedCountry = country;
        }

        if (position !== null) {
            selectedPosition = position;
        }

        if (department !== null) {
            selectedDepartment = department;
        }

        // Filter by selected Country
        var countryArr = dataArr.filter(obj => {
            return obj.country === selectedCountry
        });

        if (countryArr[0] !== undefined) {
            // Load values into Positions and Department Dropdowns
            updateSelectOptions(updateOption);

            // Proccess only if the country has positions
            if (countryArr[0].positions !== undefined) {

                // Populate the benefits for the selected country
                var benefitsEle = document.getElementById('salary-tracker-benefits');
                if (countryArr[0].benefits !== undefined) {
                    var splitBenefits = countryArr[0].benefits.split('"').join('');
                    benefitsEle.innerText = splitBenefits;
                } else {
                    benefitsEle.innerText = "";
                }

                // Check selected position and update salary brackets
                if (selectedPosition === null) {
                    if (countryArr[0].positions[0] !== undefined) {
                        selectItemByValue(document.getElementById('salary-tracker-role-picker'), null);
                        try {
                            if (selectedDepartment === null || selectedDepartment === 'N/A') {
                                updatePositionValues(countryArr[0].positions[0].annualLow, countryArr[0].positions[0].annualHigh, countryArr[0].positions[0].monthlyLow, countryArr[0].positions[0].monthlyHigh);
                            } else {
                                var firstPositionInDepartment = countryArr[0].positions.find(function (el) {
                                    return el.department === selectedDepartment;
                                });
                                if (firstPositionInDepartment !== undefined) {
                                    updatePositionValues(firstPositionInDepartment.annualLow, firstPositionInDepartment.annualHigh, firstPositionInDepartment.monthlyLow, firstPositionInDepartment.monthlyHigh);
                                } else {
                                    updatePositionValues(0, 0, 0, 0);
                                }
                            }
                        } catch (err) {
                            updatePositionValues(0, 0, 0, 0);
                        }
                    }
                } else {
                    var positionArr = countryArr[0].positions.find(function (el) {
                        return el.position === selectedPosition;
                    });
                    if (positionArr) {
                        try {
                            updatePositionValues(positionArr.annualLow, positionArr.annualHigh, positionArr.monthlyLow, positionArr.monthlyHigh);
                        } catch (err) {
                            updatePositionValues(0, 0, 0, 0);
                        }
                    }
                }
            }
        }
    }

    // Main launch function
    // Define the doc url and execute fetch promise
    // Parse the returned data into a formatted/friendly array
    // Remove the 'no positions loaded' selection option for positions
    // Update the data
    function main() {

        var url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSr_TpN5LWs9ejhbmttNHfqG25LLi9rPKHPE3wYvovXwNNXSxcFsDSEBSEsEf-9MNfwFTKjLPh1FTLL/pub?output=csv";
        var processedData = [];

        makeRequest('GET', url)
            .then(function (data) {
                csvParse(data).forEach(element => {

                    var formattedCountry = escapeRegExp(element.Country);
                    var formattedArray = [{ country: formattedCountry, positions: [{ position: element.Position, monthlyHigh: element.MonthlyHigh, monthlyLow: element.MonthlyLow, annualHigh: element.AnnualHigh, annualLow: element.AnnualLow, department: element.Department }], benefits: element.Benefits }];

                    element.Country = formattedCountry;

                    if (element.Department !== undefined && element.Department !== "") {
                        if (!departmentList.includes(element.Department)) {
                            departmentList.push(element.Department);
                        }
                    }
                    if (dataArr.length <= 0) {
                        dataArr = formattedArray;
                        dataArr = dataArr.flat();
                    } else {

                        var countryFound = countryExists(formattedCountry, dataArr);
                        if (!countryFound) {
                            dataArr.push(formattedArray);
                            dataArr = dataArr.flat();
                        } else {
                            var positionFound = positionExists(formattedCountry, element.Position, dataArr);
                            if (!positionFound) {
                                var formattedPositionArray = [{ position: element.Position, monthlyHigh: element.MonthlyHigh, monthlyLow: element.MonthlyLow, annualHigh: element.AnnualHigh, annualLow: element.AnnualLow, department: element.Department }];
                                var countryArr = dataArr.filter(obj => {
                                    return obj.country === formattedCountry
                                });
                                countryArr[0].positions.push(formattedPositionArray);
                                countryArr[0].positions = countryArr[0].positions.flat()
                            }
                        }
                    }
                });

                if (dataArr.length >= 1) {
                    try {

                        removeSelectOptions(selectRoleEle);
                        removeSelectOptions(selectDepartmentEle);

                        if (departmentList.length >= 1) {
                            departmentList.forEach(department => {
                                var departmentOpt = document.createElement('option');
                                departmentOpt.value = department;
                                departmentOpt.innerHTML = department;
                                selectDepartmentEle.appendChild(departmentOpt);
                            });
                        }

                        dataArr = dataArr.sort((a, b) => a.country.toLowerCase() > b.country.toLowerCase() ? 1 : -1);
                        dataArr.forEach(arr => {
                            arr.positions = arr.positions.sort((a, b) => a.position.toLowerCase() > b.position.toLowerCase() ? 1 : -1)
                        });

                        updateData('Ethiopia', null, null, 2);
                    } catch (err) {
                        console.error(err);
                    }
                }
            })
            .catch(function (err) {
                console.error('An error occured!', err);
            });

    }

    function numberWithSpaces(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    }

    /*** Helpers - Start ***/

    // Re-usable updater for salary bracket values
    function updatePositionValues(annualLow, annualHigh, monthlyLow, monthlyHigh) {
        var annualLowEle = document.getElementById('salary-annual-amount-low');
        var annualHighEle = document.getElementById('salary-annual-amount-high');
        var monthlyLowEle = document.getElementById('salary-monthly-amount-low');
        var monthlyHighEle = document.getElementById('salary-monthly-amount-high');

        // Remove white space from salary text
        // Convert the text to a float
        // Round the salary either up or down
        // Add spaces to the salary to have the same appearance as currency without actually converting it to a currency
        try {
            annualLowEle.innerText = numberWithSpaces(Math.round(parseFloat(annualLow.replace(/\s/g, ''))));
            annualHighEle.innerText = numberWithSpaces(Math.round(parseFloat(annualHigh.replace(/\s/g, ''))));
            monthlyLowEle.innerText = numberWithSpaces(Math.round(parseFloat(monthlyLow.replace(/\s/g, ''))));
            monthlyHighEle.innerText = numberWithSpaces(Math.round(parseFloat(monthlyHigh.replace(/\s/g, ''))));
        } catch (err) {
            annualLowEle.innerText = annualLow;
            annualHighEle.innerText = annualHigh;
            monthlyLowEle.innerText = monthlyLow;
            monthlyHighEle.innerText = monthlyHigh;
        }

    }

    // Set an option as selected from a given element and value
    function selectItemByValue(elmnt, value) {

        for (var i = 0; i < elmnt.options.length; i++) {
            if (value === null) {
                elmnt.selectedIndex = 0;
                break;
            } else {
                if (elmnt.options[i].value === value) {
                    elmnt.selectedIndex = i;
                    break;
                }
            }
        }

    }

    // Remove select options from a given element
    function removeSelectOptions(elmnt) {

        var i, L = elmnt.options.length - 1;
        for (i = L; i >= 0; i--) {
            elmnt.remove(i);
        }

    }

    // Make an XHR request with given params
    function makeRequest(method, url) {

        return new Promise(function (resolve, reject) {
            var xhr = new XMLHttpRequest();
            xhr.open(method, url);
            xhr.onload = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    resolve(xhr.responseText);
                } else {
                    reject({
                        status: this.status,
                        statusText: xhr.statusText
                    });
                }
            };
            xhr.onerror = function () {
                reject({
                    status: this.status,
                    statusText: xhr.statusText
                });
            };
            xhr.send();
        });

    }

    // Parse and format the csv into an array
    function csvParse(csv) {

        var lines = csv.split("\n");
        var lines = csv.split("\r");
        var result = [];
        var headers = lines[0].split(",");

        for (var i = 1; i < lines.length; i++) {
            var obj = {};
            var currentline = lines[i].split(",");

            for (var j = 0; j < headers.length; j++) {
                obj[headers[j]] = currentline[j];
            }

            result.push(obj);
        }

        return result;

    }

    // Clean any unexpected special character from the csv import
    function escapeRegExp(input) {

        return input.replace(/[^a-zA-Z ]/g, "");

    }

    // Check if a country exists within an array
    function countryExists(check, array) {

        return array.some(function (el) {
            return el.country === check;
        });

    }

    // Check that the position exists within a given array against a selected country
    function positionExists(countryCheck, positionCheck, array) {

        if (countryExists(countryCheck, array)) {
            var checkArr = array.filter(obj => {
                return obj.country === countryCheck
            });
            return checkArr.some(function (el) {
                return el.position === positionCheck;
            });
        } else {
            return false;
        }

    }

    /*** Helpers - End ***/

    // Execute main on successful DOM load
    $(document).ready(function () {

        main();
        $("#salary-tracker-role-picker").select2();
        $("#salary-tracker-department-picker").select2();

    });

</script>
