<div class="wrapper uk-scrollspy-inview uk-animation-fade">
    <div class="salary-row">
        <div class="salary-col">
            {% if include.image %}
            <div class="salary-tracker-hero-img-container">
                <img src="{{include.image}}" class="salary-tracker-hero-img" alt="Salary Tracker" title="Triggerise Dots" title="Triggerise Dots">
            </div>
            {% endif %}
            {% if page.verbiage %}
            <p class="salary-tracker-verbiage">
                {{ page.verbiage }}
            </p>
            {% endif %}
            {% if page.leadBack %}
            <div class="salary-tracker-lead-back-container">
                <p class="salary-tracker-lead-back-text">
                    {{ page.leadBack }}
                    {% if page.leadBackBtnText %}
                    <a href="{{ page.leadBackLink }}" class="salary-tracker-lead-back-btn">{{ page.leadBackBtnText
                        }}</a>
                    {% else %}
                    <a href="{{ page.leadBackLink }}" class="salary-tracker-lead-back-btn">Click here</a>
                    {% endif %}
                </p>

            </div>
            {% endif %}
        </div>
        <div class="salary-col">
            <h5 class="salary-tracker-info-label">Select your country</h5>
            <div class="salary-tracker-country-list">
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn-active" onclick="updateCountry('ET')">Ethiopia</button>
                </div>
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn" onclick="updateCountry('KE')">Kenya</button>
                </div>
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn" onclick="updateCountry('NL')">Netherlands</button>
                </div>
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn" onclick="updateCountry('PT')">Portugal</button>
                </div>
                <div class="salary-tracker-country-btn-container">
                    <button class="salary-tracker-country-btn" onclick="updateCountry('ZA')">South
                        Africa</button>
                </div>
            </div>
            <h5 class="mt-5 salary-tracker-info-label">Additional benefits</h5>
            <p id="salary-tracker-benefits" class="salary-tracker-country-benefit"></p>
            <h5 class="mt-5 salary-tracker-info-label">Filter by department</h5>
            <select onchange="updateDepartment(this.value)" id="salary-tracker-department-picker"
                class="salary-tracker-picker">
                <option id="salary-department-blank">Please wait while we load the positions.</option>
            </select>
            <h5 class="mt-5 salary-tracker-info-label">Select your role / position</h5>
            <select onchange="updatePosition(this.value)" id="salary-tracker-role-picker" class="salary-tracker-picker">
                <option id="salary-role-blank">Please wait while we load the positions.</option>
            </select>
            <h5 class="mt-5 salary-tracker-info-label">Salary brackets</h5>
            <div class="salary-tracker-bracket-container">
                <div class="salary-tracker-bracket-row">
                    <div class="salary-tracker-bracket-col">
                        <p class="salary-tracker-bracket-text">Annual salary</p>
                    </div>
                    <div class="salary-tracker-bracket-col">
                        <p class="salary-tracker-amount-text" id="salary-annual-currency">
                            <span class="salary-tracker-currency" id="salary-tracker-currency-annual">€</span>
                            <span class="salary-tracker-bracket-amount" id="salary-annual-amount-low"></span> -
                            <span class="salary-tracker-bracket-amount" id="salary-annual-amount-high"></span>
                        </p>
                    </div>
                </div>
                <div class="salary-tracker-bracket-row">
                    <div class="salary-tracker-bracket-col">
                        <p class="salary-tracker-bracket-text">Monthly salary</p>
                    </div>
                    <div class="salary-tracker-bracket-col">
                        <p class="salary-tracker-amount-text">
                            <span class="salary-tracker-currency" id="salary-tracker-currency-monthly">€</span>
                            <span class="salary-tracker-bracket-amount" id="salary-monthly-amount-low"></span> -
                            <span class="salary-tracker-bracket-amount" id="salary-monthly-amount-high"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/assets/salaryTracker.js"></script>