<div class="{{include.colour}} {{include.classList}} {{include.padding}}"
    uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
    <div class="wrapper">
        {% if ujHeadline %}
        <h1>{{ ujHeadline }}</h1>
        {% endif %}
        <section class="timeline">
            {% if ujSteps %}
            <ul>
                {% for step in ujSteps %}
                <li>
                    <div class="column_2">
                        <h4>Step {{ forloop.index }}</h4>
                        <h2>{{ step.title }}</h2>
                        <p>{{ step.content | newline_to_br }}</p>
                        {% if step.iconTwo %}
                        <img class="timeline__icon_two" src="{{ step.iconTwo }}" alt="step icon" />
                        {% endif %}
                    </div>
                    <div class="column_1">
                        <img src="{{ step.icon }}" alt="step icon" />
                        {% if step.contentTwo %}
                        <p class="text-left">{{ step.contentTwo | newline_to_br }}</p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </div>
</div>