<div class="work-at-triggerise">
  <div class="t-two-half flex {{include.colour}}" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
    <div class="t-half left text">
      <p class="who-we-are">
        ‘We come from different cultures and backgrounds; 
        what unites us is our open-mindedness and drive for impact. 
        You can choose your own working conditions and we give our teams a lot of space. 
        We trust you know best and are not afraid to let you try something new! 
        This is how we pioneer and create more impact every day.’
      <p>
    </div>
    <div class="t-half {{include.colourSplit}} right video">
      <div class="video">
      {% include youtubeplayer.html%}
    </div>
  </div>
</div> 
