<html>

<head>
    <style>
        ytplayer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;

        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: '425',
                width: '100%',
                playerVars: {
                    autoplay: 0,
                    autoplay: 1,
                    rel: 0,
                    showinfo: 0,
                    modestbranding: 1,
                },
                videoId: 'jxyPJiLL4Kw'
            });
        }

        $(window).scroll(function() {
            $("iframe").each(function() {
                if ($(window).scrollTop() > $(this).offset().top - 350) {
                    $(this).css('opacity', 1);
                    player.playVideo();
                } else {
                    $(this).css('opacity', 1);
                    player.stopVideo();
                }
            });
        });
    </script>
</head>

<body>
    <div id="ytplayer">Youtube player here</div>
</body>

</html>