---
layout: default
---

{% assign title = page.Title %}
{% assign numbers = page.Numbers %}
{% assign animation = page['Header animation image'] %}
{% assign safeTitle = "We safeguard digital human rights" %}
{% assign safeDescription = page.Safeguarding-text %}

{% assign missionDescription = page.Mission-Description %}
{% assign missionTitle = page.Mission-Title %}
{% assign missionImage = page.Mission-Image %}
{% include 3upHorizontal.html padding="padd" body=missionDescription colour="pink" imageTwo=missionImage titleAlt=missionTitle
colourTwo="lightBlue" colourThree="darkBlue" classList="image whatWeDoImage" flexList="reverse" %}
{% assign mapText = page.Map-text %}
{% assign mapBottomText = page.Map-Bottom-Text %}
{% include map.html
mapText=mapText
mapBottomText=mapBottomText
colour="darkBlue"
textColor="darkBlue"
classList="autoHeight map"
textColor="cream"
%}

{% include 3upHorizontal.html
  title=title colour="blue"
  colourTwo="darkBlue"
  colourThree="pink"
  image=animation
  imageTwo=CTAimageTwo
  classList="image"
  numbers=numbers
  textColor="lightBlue"
  lines="lines"
%}
{% include team.html
  colour="grey"
  textColor="darkBlue"
%}
{% include 1up.html
  colour="cream"
  sectionTitle=safeTitle
  diagram=diagram
  description=safeDescription
  textColor="darkBlue"
  buttonClass="true"
  buttonLink="/privacy-policy/"
  classList="flexWrapper autoHeight safeguarding"
%}
<script type="text/javascript" src="/assets/about.js"></script>