---
layout: default
---

<div id="fullpage">
    {% assign title = page.content %}
    {% assign body = page.Header-Text %}
    {% assign number = page.Home-number %}
    {% assign SubTitle = page.Home-number-text %}
    <div class="section padd" data-percentage="90">
        {% include 3up.html
        title=title
        copy=body
        number=number
        sub=SubTitle
        colour="blue"
        colourTwo="cream"
        colourThree="green"
        textColor="lightBlue"
        classList="center"
        %}
    </div>
    {% assign missionDescription = page.Mission-Description %}
    {% assign missionTitle = page.Mission-Title %}
    {% assign missionImage = page.Mission-Image %}
    {% include 3upHorizontal.html body=missionDescription colour="pink" imageTwo=missionImage titleAlt=missionTitle colourTwo="lightBlue" colourThree="darkBlue" classList="image whatWeDoImage" flexList="reverse" %}
    {% assign visionTitle = page.Vision-Title %}
    {% assign visionDescription = page.Vision-Text %}
    {% include 1up.html
    colour="white"
    sectionTitle=visionTitle
    diagram=diagram
    description=visionDescription
    textColor="darkBlue"
    classList="flexWrapper autoHeight"
    %}
    {% assign sectionTitle = "Our Model" %}
    {% assign diagram = page.Our-Model[0].Diagram %}
    {% assign ModelDescription = page.Our-Model[0].Description %}
    {% assign diagramTwo = page.Our-Model[1].Diagram %}
    {% assign ModelDescriptionTwo = page.Our-Model[1].Description %}
    {% assign diagramThree = page.Our-Model[2].Diagram %}
    {% assign ModelDescriptionThree = page.Our-Model[2].Description %}
    {% assign ModelLink= page.Our-Model-Link %}
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="slidr fade">
            {% include slide.html colour="lightBlue" sectionTitle=sectionTitle diagram=diagram
            description=ModelDescription
            textColor="darkBlue" classList="full carousel" buttonClass="darkBlue" buttonLink="/what-we-do" %}
        </div>

        <div class="slidr fade">
            {% include slide.html colour="darkBlue" sectionTitle=sectionTitle diagram=diagramTwo
            description=ModelDescriptionTwo textColor="lightBlue" classList="full carousel" buttonClass="lightBlue"
            buttonLink="/what-we-do"%}
        </div>

        <div class="slidr fade">
            {% include slide.html colour="purple" sectionTitle=sectionTitle diagram=diagramThree
            description=ModelDescriptionThree textColor="lightYellow" classList="full carousel"
            buttonClass="lightYellow"
            buttonLink="/what-we-do"%}
        </div>

        <!-- Next and previous buttons -->
        <div class="fp-controlArrow fp-prev" onclick="prevSlide()"></div>
        <div class="fp-controlArrow fp-next" onclick="nextSlide()"></div>
        <div style="text-align:center" class="dot-container-slidr">
            <span class="dot-slidr" onclick="currentSlide(0)"></span>
            <span class="dot-slidr" onclick="currentSlide(1)"></span>
            <span class="dot-slidr" onclick="currentSlide(2)"></span>
        </div>
    </div>
    {% assign CTAtitle = page.CTA-Block.Header %}
    {% assign linkOne = page.CTA-Block['CTA Link'] %}
    {% assign linkTwo = page.CTA-Block.CTA-Two-Link %}
    {% assign CTAsubTitle = page.CTA-Block.Description %}
    {% assign CTAimage = page.CTA-Block.CTA-Image %}
    {% assign CTAimageTwo = page.CTA-Block.CTA-Image-two %}
    <div class="section" data-percentage="90">
        {% include 3upHorizontal.html
        title=CTAtitle
        sub=CTAsubTitle
        colour="purple"
        colourTwo="lightBlue"
        colourThree="darkBlue"
        textColor="cream"
        image=CTAimage
        imageTwo=CTAimageTwo
        linkOne = linkOne
        linkTwo = linkTwo
        classList="image"
        button="true"
        buttonClass="cream"
        %}
    </div>
</div>
<script type="text/javascript" src="/assets/home.js"></script>
<script type="text/javascript" src="/assets/fullpage.min.js"></script>