---
layout: default
---

<div id="fullpage">
    {% assign title = page.content %}
    {% assign body = page.Header-Text %}
    {% assign number = page.Home-number %}
    {% assign SubTitle = page.Home-number-text %}
    <div class="section padd" data-percentage="90">
        {% include 3up.html
        title=title
        copy=body
        number=number
        sub=SubTitle
        colour="blue"
        colourTwo="cream"
        colourThree="green"
        textColor="lightBlue"
        classList="center"
        %}
    </div>
    {% assign sectionOneTitle = page.About-section-one-title | split: "|" %}
    {% assign SubTitleOne = sectionOneTitle[0] %}
    {% assign SubTitleTwo = sectionOneTitle[1] %}
    {% assign DescriptionOne = page.About-section-one-description%}
    {% assign imageSectionTwo = page.Supporting-two-Image %}
    {% include 2up.html colour="lightCream" textColor="darkBlue" image=imageSectionTwo subTitle=SubTitleOne subTitleSplit=SubTitleTwo sub=DescriptionOne  classList="what-we-do" %}
    
    {% assign ujHeadline = page.UJ-Content.headline %}
    {% assign ujSteps = page.UJ-Content.steps %}
    {% include userJourney.html ujHeadline=ujHeadline ujSteps=ujSteps colour="lightBlue" textColor="darkBlue" image=imageSectionTwo classList='padd' %}

    {% assign sectionTheeTitle = page.What-section-three-title | split: "|" %}
    {% assign SubTitleFive = sectionTheeTitle[0] %}
    {% assign SubTitleSix = sectionTheeTitle[1] %}
    {% assign DescriptionThree = page.What-section-three-description %}
    {% include 2up.html colour="pink" textColor="darkBlue" data="data" subTitle=SubTitleFive subTitleSplit=SubTitleSix sub=DescriptionThree classList="what-we-do"%}

    {% assign donorTitle = page.Donor-Title %}
    {% assign donorList = page.Donor-List %}
    {% include donor.html color="grey" donorList=donorList donorTitle=donorTitle %}
    {% assign CTAtitle = page.CTA-Block.Header %}
    {% assign linkOne = page.CTA-Block['CTA Link'] %}
    {% assign linkTwo = page.CTA-Block.CTA-Two-Link %}
    {% assign CTAsubTitle = page.CTA-Block.Description %}
    {% assign CTAimage = page.CTA-Block.CTA-Image %}
    {% assign CTAimageTwo = page.CTA-Block.CTA-Image-two %}
    <div class="section" data-percentage="90">
        {% include 3upHorizontal.html
        title=CTAtitle
        sub=CTAsubTitle
        colour="purple"
        colourTwo="lightBlue"
        colourThree="darkBlue"
        textColor="cream"
        image=CTAimage
        imageTwo=CTAimageTwo
        linkOne = linkOne
        linkTwo = linkTwo
        classList="image"
        button="true"
        buttonClass="cream"
        %}
    </div>
</div>
<script type="text/javascript" src="/assets/home.js"></script>
<script type="text/javascript" src="/assets/fullpage.min.js"></script>