---
layout: default
---

{% assign pageTitle = page.pageTitle %}
{% assign image = page.Splash-image %}
{% assign bannerText=page.verbiage %}
{% include contactPolicyBanner.html
  colour="darkBlue"
  sectionTitle=pageTitle description=content
  classList="flexWrapper padd"%}
  <div class="loader-spinner"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
{% include salary-tracker.html
  colour="darkBlue"
  titleOne=titleOne
  titleTwo=titleTwo
  textColor="lightBlue"
  image=image
  classList="padd centerTitle"
%}